<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <title>
        Company Application
    </title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="http://127.0.0.1:5003/company/applicationsubmit" method="post">
                <input id="name" name="name" type="text" placeholder="Name*"/>
                <input id="visiting date" name="date" type="text" placeholder="Visiting Date*"/>
                <input id="criteria" name="criteria" type="text" placeholder="Criteria*"/>
                <input id="package" name="package" type="text" placeholder="Package(LPA)*"/>
                <input id="branches" name="branches" type="text" placeholder="Branches*"/>
            	<button class="button" type="submit">
                	Submit
            	</button>
            </form>
        </div>
    </div>
</body>
</html>
