<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <div style="text-align: center; align-content: center;">
        <h1>
            Services Offered
        </h1>
        <div>
            <div> 
                <h2>
                    Students : 
                </h2>
            </div>
            <div>
                <a href="http://127.0.0.1:5002/user/login">
                    Login / Signup
                </a>
            </div>
            <div>
                <a href="/user/apply">
                    Apply To Company
                </a>
            </div>
            <div>
                <a href="/user/viewstatus">
                    View Application Status
                </a>
            </div>
            <div>
                <h2>
                    Comapnies : 
                </h2>
            </div>
            <div>
                <a href="/company/applicationform">
                    Application Form
                </a>
            </div>
            <div>
                <a href="/company/viewstudents">
                    View Student Information
                </a>
            </div>
            <div>
                <h2>
                    TPO
                </h2>
            </div>
            <div>
                <a href="">

                </a>
            </div>
            <div></div>
            <div></div>
            <div></div> 
        </div>
    </div>
    
</body>
</html>