<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <title>
        Login
    </title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="http://127.0.0.1:5002/user/authenticateuser" method="post">
                <input id="email" name="username" type="text" placeholder="Email*"/>
                <input id="password" name="password" type="password" placeholder="Password*"/>
            	<button class="button" type="submit">
                	Login
            	</button>
            </form>
        </div>
    </div>
</body>
</html>